body {
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.background {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.bgImage {
  animation: .5s ease-in fadeinBG;
  background: black url('../img/sunset-1920.jpg') no-repeat;
  background-position: center top;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: .6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

article {
  align-items: center;
  animation: .5s ease-in fadein;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.618rem;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

aside {
  align-items: flex-end;
  animation: 2s ease-in fadein;
  bottom: 0;
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

nav {
  align-items: center;
  animation: 2s ease-in fadein;
  display: flex;
  height: 3em;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

nav span {
  padding: 0 1em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul a {
  color: white;
  padding: 0 1em;
  text-decoration: none;
}

/* key frames */

@keyframes fadeinBG {
  from {
    opacity: 0;
  }

  to {
    opacity: .6;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
