<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sign up Form</title>
  <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
  <form class="signUpForm">
    <input type="text" name="first" placeholder="First Name">
    <input type="text" name="last" placeholder="Last Name">

    <label for="birthdate">Birthdate</label>
    <input type="date" name="birthdate" placeholder="mm/dd/yyyy">

    <input type="password" name="password" placeholder="password">

    <input type="button" name="submit" value="sign up">
  </form>
</body>
</html>
