<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Scheduling Form</title>
  <link rel="stylesheet" type="text/css" href="scheduling.css">
</head>
<body>
  <form class="schedulingForm">
    <input type="date" name="date">
    <input type="time" name="time">
    <select>
      <option>Time Zone</option>
    </select>
    <textarea></textarea>
    <input type="tel" name="phone" placeholder="phone number">
    <input type="email" name="email" placeholder="email">
  </form>
</body>
</html>
