<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttons Component</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="buttons.css">
</head>

<body>
  <article class="Buttons">
    <a class="Button--sm" href="../../">Home</a>
    <div>
      <h3 class="Buttons__header">A basic button</h3>
      <div class="Button">Buy Now</div>
    </div>
    <div>
      <h3 class="Buttons__header">A button element with button class</h3>
      <button class="Button">Send Mail</button>
    </div>
    <div>
      <h3 class="Buttons__header">An anchor with a button class</h3>
      <a class="Button" href="#">Search</a>
    </div>
    <div>
      <h3 class="Buttons__header">Buttons of different sizes</h3>
      <div class="Button Button--sm">Small Button</div>
      <br>
      <div class="Button Button--md">Medium Button</div>
      <br>
      <div class="Button Button--lg">Large Button</div>
      <br>
    </div>
  </article>
</body>

</html>
