<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttons Component</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="buttons.css">
</head>

<body>
  <ul>
    <div>
      <h3>A basic button</h3>
      <div class="button"><span>Buy Now</span></div>
    </div>
    <div>
      <h3>A button element with button class</h3>
      <button class="button"><span>Send Mail</span></button>
    </div>
    <div>
      <h3>An anchor with a button class</h3>
      <a class="button" href="#"><span>Search</span></a>
    </div>
    <div>
      <h3>Buttons of different sizes</h3>
      <div class="button button-sm"><span>Small Button</span></div>
      <br>
      <div class="button button-md"><span>Medium Button</span></div>
      <br>
      <div class="button button-lg"><span>Large Button</span></div>
      <br>
    </div>
  </ul>
</body>

</html>
