<!DOCTYPE html>
<html>
<head>
  <title>Buttons Component</title>
  <link rel="stylesheet" type="text/css" href="buttons.css">
</head>
<body>
  <h3>A basic button</h3>
  <div class="button">Buy Now</div>

  <h3>A button element with button class</h3>
  <button class="button">Send Mail</button>

  <h3>An anchor with a button class</h3>
  <a class="button" href="#">Search</a>

  <h3>Buttons of different sizes</h3>
  <div class="button button-sm">Small Button</div>
  <div class="button button-md">Medium Button</div>
  <div class="button button-lg">Large Button</div>
</body>
</html>
