<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Profile Card</title>
  <link rel="stylesheet" type="text/css" href="profile-card.css">
</head>
<body>
  <!--
    - at least 1 photo of myself, no more than 3
    - a paragraph with 3-5 sentences about myself
  -->
  <aside>
    <img src="#">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim explicari, quod quaeritur, non potest. Non igitur bene. Est enim tanti philosophi tamque nobilis audacter sua decreta defendere. Animi enim quoque dolores percipiet omnibus partibus maiores quam corporis. Nondum autem explanatum satis, erat, quid maxime natura vellet. Tecum optime, deinde etiam cum mediocri amico. Estne, quaeso, inquam, sitienti in bibendo voluptas? Duo Reges: constructio interrete.
    </p>
  </aside>
</body>
</html>
