<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Form</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../../css/vendor/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../../css/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="search.css">
</head>

<body>
  <div class="container">
    <div class="go-back">
      <a href="../#search">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back
      </a>
    </div>
    <form class="SearchForm">
      <input class="SearchForm__input" type="search" name="search" placeholder="Search...">
      <span class="SearchForm__fieldset">
        <select class="SearchForm__categories" name="categories">
          <option>All categories</option>
          <option>Indie rock</option>
          <option>Electronica</option>
          <option>Dance</option>
          <option>Party</option>
          <option>Blues</option>
          <option>Country</option>
        </select>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
      <span class="SearchForm__fieldset">
        <input class="SearchForm__submit" type="button" name="submit">
        <i class="fa fa-search"></i>
      </span>
    </form>
  </div>
</body>

</html>
