<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Credit Card Form</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../../css/vendor/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../../css/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="credit-card.css">
</head>

<body>
  <div class="go-back">
    <a href="../#credit-card">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back
    </a>
  </div>
  <form class="CreditCardForm">
    <header class="CreditCardForm__header">
      <div>
        <input type="radio" name="Credit Card" checked="true">
        <label for="Credit Card">Credit Card</label>
      </div>
      <div>
        <i class="fa fa-cc-visa" aria-hidden="true"></i>
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        <i class="fa fa-cc-amex" aria-hidden="true"></i>
        <i class="fa fa-cc-discover" aria-hidden="true"></i>
        <span class="and-more">and more...</span>
      </div>
    </header>
    <section class="CreditCardForm__fields">
      <div class="CardField--number">
        <input class="CardField--number__input" type="text" name="card-number" placeholder="Card Number" maxlength="19">
        <span class="CardField--number__lock">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
      </div>
      <input class="CardField--name" type="text" name="full-name" placeholder="Name on card">
      <input class="CardField--exp" type="text" name="expiration-date" size="4" placeholder="MM / YY">
      <div class="CardField--cvv">
        <input class="CardField--cvv__input" type="text" name="csv-code" size="4" placeholder="CVV" maxlength="4">
        <span class="CardField--cvv__question-mark">
          <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
          <span class="CardField--cvv__tool-tip">
            3-digit security code usually found on the back of your card.
            American Express cards have a 4-digit code located on the front
          </span>
        </span>
      </div>

      <!--
      Drop down exp dates
      <span>
        <select>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
        <span>/</span>
        <select>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
          <option>2026</option>
          <option>2027</option>
          <option>2028</option>
          <option>2029</option>
          <option>2030</option>
          <option>2031</option>
        </select>
      </span>
      -->
    </section>
    <input class="CreditCardForm__complete-order" type="button" value="Complete order">
  </form>
</body>

</html>
