<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login Form</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../../css/vendor/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../../css/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>
  <div class="go-back">
    <a href="../#login">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back
    </a>
  </div>
  <form class="LoginForm">
    <fieldset class="LoginForm__username">
      <label for="username">User name</label>
      <input  type="text" name="username" placeholder="User name">
    </fieldset>
    <fieldset class="LoginForm__password">
      <label for="password">Password</label>
      <input  type="password" name="password" placeholder="Password">
    </fieldset>
    <input class="LoginForm__btn" type="button" value="Sign in">
  </form>
  <p class="has-account">
    Need an account?
    <a href="../signup">Sign up</a>
  </p>
</body>

</html>
