body {
  background-color: #174f7c;
}

.go-back {
  margin: 10em auto 1em;
  width: 320px;
}

.go-back a {
  color: white;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 14px;
  padding-right: .205em;
  text-decoration: none;
}

.go-back a:hover,
.go-back a:focus {
  border-bottom: 1px solid white;
}

.go-back .fa-arrow-left:before {
  bottom: 2px;
  font-size: 10px;
  position: relative;
}

.has-account,
.has-account a {
  color: white;
  font-family: 'Open Sans', helvetica, sans-serif;
  text-align: center;
}

.has-account a {
  color: #40c3f6;
}

/* LoginForm component styles */

.LoginForm {
  background: white;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, sans-serif;
  margin: 1rem auto 2rem;
  padding: 2rem;
  width: 320px;
}

.LoginForm__username,
.LoginForm__password,
.LoginForm__btn {
  border: 1px solid #e3e9ef;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 1.618rem;
  margin-bottom: 1.618rem;
  padding: 0;
  position: relative;
  width: 100%;
}

.LoginForm__username label,
.LoginForm__password label {
  background-color: white;
  bottom: 3.236em;
  color: #999;
  font-size: 12px;
  left: .809em;
  /*opacity: 0;*/
  padding: 0 4px;
  position: absolute;
}

.LoginForm__username input,
.LoginForm__password input,
.LoginForm__btn {
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, sans-serif;
  line-height: 1.618rem;
  padding: .809rem;
  transition: box-shadow .2s ease-in-out;
  width: 100%;
}

.LoginForm__username input:focus,
.LoginForm__password input:focus {
  border-color: #c7d4df;
  box-shadow: 1px 1px 2px rgba(23,79,124,.2);
  outline: 0;
}

.LoginForm__btn {
  background-color: #174f7c;
  border: 1px solid #174f7c;
  color: white;
  cursor: pointer;
  margin-bottom: 0;
}

.LoginForm__btn:focus {
  box-shadow: 1px 1px 2px rgba(23,79,124,.2);
  outline: 0;
}
