body {
  background-color: #888;
}

.clear-fix:after {
  clear: both;
  content: '';
  display: block;
}

.billingForm {
  background-color: white;
  border: 1px solid #ccc;
  color: #666;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 100;
  margin: 0 auto;
  max-width: 640px;
}

.billingForm section {
  box-sizing: border-box;
  padding: 2em;
}

.billingForm section:first-child {
  border-bottom: 1px solid #ccc;
}

.billingForm input {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
  width: 48%;
}

.billingForm input:nth-child(n+4) {
  margin-top: 1em;
}

.billingForm input:nth-child(2n) {
  margin-right: .8em;
}

.billingForm input[type="text"] {
  padding: .809em 1em;
}

.billingForm input[name="address-line-1"] {
  width: 60%;
}

.billingForm input[name="address-line-2"] {
  width: 36%;
}

.billingForm input[name="same-as-billing"],
.billingForm label[for="same-as-billing"] {
  margin-top: 1em;
  width: auto;
}

.billingForm label[for="same-as-billing"] {
  display: inline-block;
  position: relative;
  top: 2px;
}
