body {
  background: #174f7c;
}

.go-back {
  margin: 2em auto 1em;
  max-width: 640px;
}

.go-back a {
  color: white;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 14px;
  padding-right: .202em;
  text-decoration: none;
}

.go-back a:hover,
.go-back a:focus {
  border-bottom: 1px solid white;
}

.go-back .fa-arrow-left:before {
  bottom: 2px;
  font-size: 10px;
  position: relative;
}

/* BilingForm component styles */

.BillingForm {
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #666;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 100;
  margin: 0 auto 2em;
  max-width: 640px;
}

.BillingForm__header {
  margin-bottom: 2rem;
  margin-top: 0;
}

.BillingForm__billing,
.BillingForm__shipping {
  box-sizing: border-box;
  padding: 2em;
}

.BillingForm__billing {
  border-bottom: 1px solid #ccc;
}

.BillingForm__first,
.BillingForm__last,
.BillingForm__address1,
.BillingForm__address2,
.BillingForm__city,
.BillingForm__country {
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 48%;
}

.BillingForm label {
  background-color: white;
  bottom: 3.236em;
  font-size: 12px;
  left: .809em;
  padding: 0 4px;
  position: absolute;
}

.BillingForm input {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
  width: 48%;
}

.BillingForm__first input,
.BillingForm__last input,
.BillingForm__address1 input,
.BillingForm__address2 input,
.BillingForm__city input,
.BillingForm__country input {
  width: 100%;
}

.BillingForm fieldset:nth-child(n+4),
.BillingForm input:nth-child(n+4) {
  margin-top: 1em;
}

.BillingForm fieldset:nth-child(2n),
.BillingForm input:nth-child(2n) {
  margin-right: .8em;
}

.BillingForm input[type="text"] {
  padding: .809em 1em;
}

.BillingForm__address1 {
  width: 60%;
}
.BillingForm__address1 input {
  width: 100%;
}

.BillingForm__address2 {
  width: 36%;
}
.BillingForm__address2 input {
  width: 100%;
}

.BillingForm input[name="same-as-billing"],
.BillingForm label[for="same-as-billing"] {
  margin-top: 1.618em;
  width: auto;
}

.BillingForm label[for="same-as-billing"] {
  display: inline-block;
  position: relative;
  top: 2px;
}
