<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Billing Form</title>
  <link rel="stylesheet" type="text/css" href="billing.css">
</head>
<body>
  <form class="billingForm">
    <section class="billingForm-billing">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name">
      <label for="last-name">Last Name</label>
      <input type="text" name="last-name">
      <label for="address-line1">Address Line 1</label>
      <input type="text" name="address-line1">
      <label for="address-line2">Address Line 2</label>
      <input type="text" name="address-line2">
      <label for="city">City</label>
      <input type="text" name="city">
      <label for="state">State</label>
      <input type="text" name="state">
      <label for="zip">Zip</label>
      <input type="text" name="zip">
      <label for="country">Country</label>
      <input type="text" name="country">
      <input type="checkbox" name="same-as-billing" checked>
      <label for="same-as-billing">My shipping address is the same as my billing address?</label>
    </section>
    <section class="billingForm-shipping">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name">
      <label for="last-name">Last Name</label>
      <input type="text" name="last-name">
      <label for="address-line1">Address Line 1</label>
      <input type="text" name="address-line1">
      <label for="address-line2">Address Line 2</label>
      <input type="text" name="address-line2">
      <label for="city">City</label>
      <input type="text" name="city">
      <label for="state">State</label>
      <input type="text" name="state">
      <label for="zip">Zip</label>
      <input type="text" name="zip">
      <label for="country">Country</label>
      <input type="text" name="country">
    </section>
  </form>
</body>
</html>
