<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Billing Form</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="billing.css">
</head>

<body>
  <form class="billingForm clear-fix">
    <section class="billing clear-fix">
      <h3>Billing Address</h3>
      <input type="text" name="first-name" placeholder="First name">
      <input type="text" name="last-name" placeholder="Last name">
      <input type="text" name="address-line-1" placeholder="Address">
      <input type="text" name="address-line-2" placeholder="Apt, suite, etc (optional)">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="country" placeholder="Country">
      <input type="checkbox" name="same-as-billing" checked>
      <label for="same-as-billing">My shipping address is the same as my billing address?</label>
    </section>
    <section class="shipping clear-fix">
      <h3>Shipping Address</h3>
      <input type="text" name="first-name" placeholder="First name">
      <input type="text" name="last-name" placeholder="Last name">
      <input type="text" name="address-line-1" placeholder="Address">
      <input type="text" name="address-line-2" placeholder="Apt, suite, etc (optional)">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="country" placeholder="Country">
    </section>
  </form>
</body>

</html>
