<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Questionnaire</title>
  <link rel="stylesheet" type="text/css" href="questionnaire.css">
</head>
<body>
  <form class="questionnaireForm">
    <h3>Question of the day?</h3>
    <input type="radio" name="radio">
    <label>Answer</label><br>
    <input type="radio" name="radio">
    <label>Answer</label><br>
    <input type="radio" name="radio">
    <label>Answer</label><br>
    <input type="radio" name="radio">
    <label>Answer</label><br>
    <input type="radio" name="radio">
    <label>Other</label>
    <input type="text" name="other">
  </form>
</body>
</html>
