* {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
}

h3 {
  font-size: 1.618rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-top: 1rem;
}

li > * {
  display: inline-block;
  max-width: 80%;
  vertical-align: top;
}

.questionnaireForm {
  max-width: 320px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 2em;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ccc;
  outline: none;
  color: transparent;
}

.questionnaireForm label,
.questionnaireForm input[name="other"] {
  position: relative;
  top: 1px;
  max-width: 180px;
}

.questionnaireForm input[name="other"] {
  margin-left: 10px;
}
