body {
    font-family: 'Open Sans', helvetica, sans-serif;
}

section {
    border: 1px solid #ccc;
    margin: 0 auto;
    max-width: 414px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

.product {
    box-sizing: border-box;
    float: left;
    padding: 8px;
    width: 50%;
}
