body {
  background-color: #888;
  margin: 0;
  padding: 0;
}

.back-home {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: #666;
  background-color: rgba(20, 30, 38, .75);
  color: rgb(116, 198, 250);
  margin: 1.618em;
  padding: .809em 1.618em;
  line-height: 1.618em;
  position: absolute;
  top: 0;
}

.back-home:hover,
.back-home:focus {
  background: black;
  color: white;
}

.back-home:active {
  background: white;
  color: black;
}

@media (max-width: 768px) {
  .back-home {
    position: relative;
    display: block;
    margin: 0;
    padding-left: 32px
  }

  .back-home:before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    border-left: 1px solid rgb(116, 198, 250);
    border-bottom: 1px solid rgb(116, 198, 250);
    -webkit-transform: translate(100px) rotate(45deg);
    -webkit-transform-origin: 0 -250px;
    position: absolute;
    top: 92px;
    left: 95px;
  }
}

.calculator {
  background-color: #666;
  box-sizing: border-box;
  color: white;
  display: block;
  margin: 2rem auto 0;
  overflow: hidden;
  position: relative;
  min-width: 320px;
}

@media (min-width: 769px) {
  .calculator {
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .calculator {
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: min-width: 320px;
  }
}

.calculator input[name="input"],
.calculator input[name="output"] {
  border: none;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  margin: 0;
  padding-right: 16px;
  text-align: right;
  width: 100%;
}

.calculator input[name="input"] {
  background-color: #222;
  font-size: 18px;
  line-height: 1.618em;
  padding-top: .445em;
}

.calculator input[name="output"] {
  background-color: #333;
  color: rgb(148, 152, 156);
  font-size: 48px;
  font-weight: 100;
}

.calculator button {
  border: none;
  box-sizing: border-box;
  color: rgb(116, 198, 250);
  cursor: pointer;
  display: block;
  float: left;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: calc(320px / 4);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 25%;
}

.calculator button:hover {
  background-color: black !important;
  color: white;
}

.calculator button:focus {
  outline-offset: 0px;
  outline-style: inset;
  outline-width: 1px;
}

.calculator button:active {
  background-color: white !important;
  color: black;
}

.calculator .r1 button {
  font-size: 16px;
  line-height: 3em;
}

.calculator .r1 button:last-child {
  width: 50%;
}

.calculator .r1 button,
.calculator .r2 button:nth-child(n+3) {
  background-color: #666;
  background-color: rgba(20, 30, 38, .75);
}

.calculator .r2 button:nth-child(-n+2),
.calculator .r3 button:nth-child(-n+2) {
  background-color: #444;
  background-color: rgba(55, 80, 102, .8);
}

.calculator .r4 button,
.calculator .r5 button,
.calculator .r6 button,
.calculator .r7 button {
  background-color: #222;
  background-color: rgba(50, 73, 93, .8);
}

.calculator .r3 button:nth-child(n+3),
.calculator .r4 button:last-child,
.calculator .r5 button:last-child {
  background-color: #666;
  background-color: rgba(73, 95, 115, .8);
}

.calculator .r7 button:first-child {
  clear: left;
}

.calculator .r7 button:nth-child(n+3) {
  background-color: #000;
  background-color: rgba(41, 59, 75, .8);
}

.calculator .r7 button:last-child {
  bottom: 0;
  line-height: calc(320px / 2);
  position: absolute;
  right: 0;
}
