body {
  background-color: #888;
}

.navigate-home {
  background-color: #666;
  background-color: rgba(20, 30, 38, .75);
  color: white;
  color: rgb(116, 198, 250);
  font-family: 'Roboto', helvetica, sans-serif;
  line-height: 1.618em;
  margin: 1.618em;
  padding: .809em 1.618em;
  position: absolute;
  right: 70%;
  text-decoration: none;
  top: 6px;
}

.navigate-home:hover,
.navigate-home:focus {
  background: black;
  color: white;
}

.navigate-home:active {
  background: white;
  color: black;
}

@media (max-width: 768px) {
  .navigate-home {
    display: block;
    margin: 0;
    padding-left: 32px;
    position: relative;
    right: initial;
    top: 0;
  }

  .navigate-home:before {
    border-bottom: 1px solid rgb(116, 198, 250);
    border-left: 1px solid rgb(116, 198, 250);
    box-sizing: border-box;
    content: '';
    display: block;
    height: 8px;
    left: 95px;
    position: absolute;
    top: 92px;
    -webkit-transform: translate(100px) rotate(45deg);
       -moz-transform: translate(100px) rotate(45deg);
        -ms-transform: translate(100px) rotate(45deg);
         -o-transform: translate(100px) rotate(45deg);
            transform: translate(100px) rotate(45deg);
    -webkit-transform-origin: 0 -250px;
       -moz-transform-origin: 0 -250px;
        -ms-transform-origin: 0 -250px;
         -o-transform-origin: 0 -250px;
            transform-origin: 0 -250px;
    width: 8px;
  }
}

/* Calculator Component */

.Calculator {
  background-color: #666;
  box-sizing: border-box;
  color: white;
  display: block;
  margin: 2rem auto 0;
  min-width: 320px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 769px) {
  .Calculator {
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .Calculator {
    left: 0;
    margin: 0;
    min-width: 320px;
    position: absolute;
    right: 0;
  }
}

.Calculator .Calculator__input,
.Calculator .Calculator__output {
  border: none;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  margin: 0;
  padding-right: 16px;
  text-align: right;
  width: 100%;
}

.Calculator .Calculator__input {
  background-color: #222;
  font-size: 18px;
  line-height: 1.618em;
  padding-top: .445em;
}

.Calculator .Calculator__output {
  background-color: #333;
  color: rgb(148, 152, 156);
  font-size: 48px;
  font-weight: 100;
}

.Calculator__button {
  border: none;
  box-sizing: border-box;
  color: rgb(116, 198, 250);
  cursor: pointer;
  display: block;
  float: left;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: calc(320px / 4);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 25%;
}

.Calculator__r1 .Calculator__button {
  font-size: 16px;
  line-height: 3em;
}

.Calculator__r1 .Calculator__button:last-child {
  width: 50%;
}

.Calculator__r1 .Calculator__button,
.Calculator__r2 .Calculator__button:nth-child(n+3) {
  background-color: #666;
  background-color: rgba(20, 30, 38, .75);
}

.Calculator__r2 .Calculator__button:nth-child(-n+2),
.Calculator__r3 .Calculator__button:nth-child(-n+2) {
  background-color: #444;
  background-color: rgba(55, 80, 102, .8);
}

.Calculator__r4 .Calculator__button,
.Calculator__r5 .Calculator__button,
.Calculator__r6 .Calculator__button,
.Calculator__r7 .Calculator__button {
  background-color: #222;
  background-color: rgba(50, 73, 93, .8);
}

.Calculator__r3 .Calculator__button:nth-child(n+3),
.Calculator__r4 .Calculator__button:last-child,
.Calculator__r5 .Calculator__button:last-child {
  background-color: #666;
  background-color: rgba(73, 95, 115, .8);
}

.Calculator__r7 .Calculator__button:first-child {
  clear: left;
}

.Calculator__r7 .Calculator__button:nth-child(n+3) {
  background-color: #000;
  background-color: rgba(41, 59, 75, .8);
}

.Calculator__r7 .Calculator__button:last-child {
  bottom: 0;
  line-height: calc(320px / 2);
  position: absolute;
  right: 0;
}

.Calculator .Calculator__button:hover {
  background-color: black;
  color: white;
}

.Calculator .Calculator__button:focus {
  outline: 1px dashed #5B9DD9;
  outline-offset: -1px;
}

.Calculator .Calculator__button:active {
  background-color: white;
  color: black;
}
