<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="calculator.css">
</head>

<body>
  <a class="back-home" href="/">Home</a>
  <container class="calculator">
    <input type="text" name="input" value="10 x 10">
    <input type="text" name="output" value="100">
    <div class="r1">
      <button>sqrt</button>
      <button>^2</button>
      <button>101.4875</button>
    </div>
    <div class="r2">
      <button>%</button>
      <button>;</button>
      <button>Del</button>
      <button>C</button>
    </div>
    <div class="r3">
      <button>(</button>
      <button>)</button>
      <button>/</button>
      <button>x</button>
    </div>
    <div class="r4">
      <button class="r4">7</button>
      <button class="r4">8</button>
      <button class="r4">9</button>
      <button class="r4">&mdash;</button>
    </div>
    <div class="r5">
      <button>4</button>
      <button>5</button>
      <button>6</button>
      <button>+</button>
    </div>
    <div class="r6">
      <button>1</button>
      <button>2</button>
      <button>3</button>
    </div>
    <div class="r7">
      <button>0</button>
      <button>.</button>
      <button>Ans</button>
      <button>=</button>
    </div>
  </container>
</body>

</html>
