.go-back {
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding: .405em 1.618em;
  position: fixed;
  width: 100%;
}

.go-back a {
  color: white;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 14px;
  padding-right: .202em;
  text-decoration: none;
}

.go-back a:hover,
.go-back a:focus {
  border-bottom: 1px solid white;
}

.go-back .fa-arrow-left {
  bottom: 2px;
  font-size: 10px;
  position: relative;
}

/* Form component styles */

.Form {
  align-items: center;
  display: flex;
  font-family: 'Open sans', helvetica, sans-serif;
  min-height: 768px;
  padding: 0 4.854rem;
}

.Form:nth-child(2n) {
  flex-direction: row-reverse;
}

.Form:nth-child(2n + 1) .Form__preview {
  margin-left: 125px;
}

.Form__preview img {
  border-radius: 7px;
}

.Form--billing {
  background-color: rgb(0, 156, 243);
}

.Form--color-builder {
  background-color: rgb(255, 191, 2);
}

.Form--payment {
  background-color: rgb(106, 118, 215);
}

.Form--login {
  background-color: rgb(250, 125, 120);
}

.Form--questionnaire {
  background-color: rgb(37, 37, 37);
}

.Form--scheduler {
  background-color: rgb(20, 192, 77);
}

.Form--search {
  background-color: rgb(255, 191, 2);
}

.Form--signup {
  background-color: #174f7c;
}

.Form__description,
.Form__preview {
  max-width: 50%;
  width: 100%;
}

.Form__description {
  color: rgb(248, 248, 248);
}

.Form__hr {
  background: rgb(248, 248, 248);
  border: 0;
  height: 6px;
}

.Form__header {
  font-size: 3.236rem;
  margin: .404em 0;
  text-transform: uppercase;
}

.Form__btn {
  border-bottom: 2px solid transparent;
  color: rgb(248, 248, 248);
  display: inline-block;
  margin: 1rem 0;
  padding-bottom: 4px;
  text-decoration: none;
}

.Form__btn:hover {
  border-bottom: 2px solid rgb(248, 248, 248);
  transition: all .3s ease-out;
}

.Form__btn .fa-arrow-right,
.Form__btn .fa-arrow-right {
  transform: translateX(0);
  transition: all .2s ease-out;
}

.Form__btn:hover .fa-arrow-right,
.Form__btn:focus .fa-arrow-right {
  transform: translateX(3px);
  transition: all .2s ease-out;
}
